body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    perspective: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: relative; /* Make the container a positioning context for absolute positioning */
}

/* Style the overlay image */
.container img {
    position: absolute;
    top: 0; /* Adjust the top position as needed */
    left: 0; /* Adjust the left position as needed */
    width: 100%; /* Set the image width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
}

.rotating-text {
    font-size: 3rem;
    animation: wave 2s ease-in-out infinite;
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

@keyframes wave {
    0%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(10px);
    }
}
